<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar Aluno{% else %}Cadastrar Aluno{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container mt-5">

        <h1 class="mb-4">{% if form.instance.pk %}Editar Aluno{% else %}Cadastrar Aluno{% endif %}</h1>
        <form
            action="{% if form.instance.pk %}{% url 'editar_aluno' form.instance.pk %}{% else %}{% url 'cadastrar_aluno' %}{% endif %}"
            method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.nome.label_tag }}
                {{ form.nome }}
            </div>
            <div class="mb-3">
                {{ form.data_nascimento.label_tag }}
                {{ form.data_nascimento }}
            </div>
            <div class="mb-3">
                {{ form.matricula.label_tag }}
                {{ form.matricula }}
            </div>
            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="mb-3">
                {{ form.endereco.label_tag }}
                {{ form.endereco }}
            </div>
            <div class="mb-3">
                {{ form.curso.label_tag }}
                {{ form.curso }}
            </div>
            <button type="submit" class="btn btn-primary">
                {% if form.instance.pk %}Salvar Alterações
                {% else %}Cadastrar{% endif %}
            </button>
        </form>
        {% if form.instance.pk %}
        <a href="{% url 'deletar_aluno' form.instance.pk %}" class="btn btn-danger mt-3">Deletar Aluno</a>
        {% endif %}
    </div>
</body>

</html>